<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link href="assets/output.css" rel="stylesheet">
</head>

<header class="container relative top-[50px] w-[700px] h-[300px] bg-red-500 h-[55rem] flex flex-column wrap p-[30px]">
    <div class="flex flex-col">
        <h1>Nome: {{ nome }} </h1> 
        <h1>Idade: {{ idade }}</h1>   
    </div>
</header>

<body>

</body>

</html>